<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="app">

    <button @click="openPage('about')">
        about us
    </button>
    <button @click="openPage('contact')">
        contact us
    </button>
    <button @click="openPage('')">
        hide all
    </button>


    <h1 v-if="activePage == 'about'">this is about us</h1>
    <h1 v-if="activePage == 'contact'">this is contact us</h1>

    <!--    <button @click="changeStatus()">Change</button>-->

    <!--    <h1 v-if="greetingIsOn">Hello</h1>-->
    <!--    <h1 v-else>Goodbye</h1>-->

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            activePage: ''
            // greetingIsOn:true,
        },
        methods: {
            // changeStatus(){
            //     this.greetingIsOn = !this.greetingIsOn
            // }
            openPage(page) {
                this.activePage = page
            }
        },
    })
</script>

</body>
</html>